<div class="container view_notification">
<div class="menu_view">
	<div class="alert alert-warning">
		<h3 class="alert-link">Transactions past due date</h3>
	</div>
	<div class="row">
		<div class="table-responsive col-md-10 col-md-offset-1 box">
			<table class="table table-hover">
			  <thead>
			    <tr>
			    	<th>No</th>
			      <th>Customer</th>
			      <th>Item</th>
			      <th>Due Date</th>
			      <th>Pending</th>
			      <th>Cost</th>
			      <th>Telephone</th>
			      <th>Status</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr dir-paginate="transaction in transactions|filter:search|itemsPerPage:5" ng-click="viewTransaction(transaction.id)">
			      <td>{{$index + 1}}</td>
				    <td ng-bind="(transaction.customer.firstName) + ' ' + (transaction.customer.lastName)"></td>
				    <td ng-bind="transaction.item.name" ></td>
				    <td>{{stringToDate(transaction.dueDate) | date : "dd-MM-y" }}</td>
				    <td>{{ transaction.quantity }}</td>
				    <td ng-bind="transaction.item.cost"></td>
				    <td ng-bind="transaction.customer.telephone"></td>
				    <td ng-bind="transaction.status"></td>
			    </tr>
				</tbody>
			</table>
		</div>
		<div class="text-center">
		  <!-- Pagination controls -->
		  <dir-pagination-controls
		    max-size="5"
		    direction-links="true"
		    boundary-links="true" >
		  </dir-pagination-controls>
		</div>
	</div>
</div>
</div>